<nav class="navbar navbar-expand-lg navbar-dark bg-danger bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand fs-1" routerLink="/home" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/2048px-Soccerball.svg.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            <h2 class="float-right mt-2 pl-2">SOCCER STATS - HOME</h2>
        </a>
        <h2 class="text-light mt-1">¡Únete al juego!</h2>
        <button class="btn btn-lg btn-outline-light" routerLink="/signin">Registrarse</button>
    </div>
</nav>
<div class="container">
    <div class="row mt-2">
        <div class="embed-responsive embed-responsive-16by9 col-12">
            <video controls autoplay>
                <source src="http://localhost:3000/video" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<div class="row mt-3 mx-3 mb-4">
    <div class="col-md-4 col-12 px-3">
        <div class="card">
            <h5 class="card-header text-center bg-danger text-light">Visión</h5>
            <div class="card-body">
                <p>Ser la ventana al mundo del fútbol a cualquier fan del planeta, manteniéndolo al tanto de las últimas noticias de sus equipos favoritos.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 px-3">
        <div class="card">
            <h5 class="card-header text-center bg-danger text-light">Misión</h5>
            <div class="card-body">
                <p>Ofrecer la información más actualizada del fútbol mediante una plataforma amigable y fácil de utilizar.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 px-3">
        <div class="card">
            <h5 class="card-header text-center bg-danger text-light">Acerca de</h5>
            <div class="card-body">
                <p class="mb-0 pb-0">Somos una compañía especializada en la recopilación e investigación de datos relacionados con partidos, jugadores, competiones, entrenadores y equipos de fútbol.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark text-light py-3">
    <p class="fs-2 mb-0 text-center">Contáctanos: soccerstatsteam@gmail.com</p>
</div>
