<div>
    <div class="navbar navbar-expand-lg">
        <img src="../../../assets/pelota.png" class="logo">
        <span class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </span>
        <h1 class="titulo">Soccer statistics</h1>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="main-nav" id="js-menu">

        <li class="salir">
            <a class="nav-links entrar"  routerLinkActive="active current" routerLink="/login">Entrar</a>
        </li>
        

        </ul>
    </div>
    </div>

    <router-outlet></router-outlet>
</div>

<iframe class="video" src="https://www.youtube.com/embed/xwkwEGFyc7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div clas="negro">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/mision.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/vision.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vision</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" height="220px" src="../../../assets/acerca.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Acerca De</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img height="200px" width="200px" class="card-img-top" src="../../../assets/contacto.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Contactanos</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>