.selector {
    width: 100vw;
    border-radius: 0;
    text-align: center;
}

.dropdown {
    background-color: #1e1e1e;
}

.dropdown-item {
   width: 100vw;
   border-radius: 0;
   background-color: whitesmoke;
}

.dropdown-item:hover {
    background-color: gray;
}

.pagination {
    margin-left: 0.5vw;
}

.page-link {
    background-color: #2a2d2f;
}

.cont {
    float: right;
    margin-right: 0.5vw;

}

.btn {
    float: right;
}

.oscuro {
    background-color: #1e1e1e;
}