<nav class="navbar navbar-expand-lg navbar-dark bg-danger bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand fs-1" routerLink="/home" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/2048px-Soccerball.svg.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            <h2 class="float-right mt-2 pl-2">SOCCER STATS</h2>
        </a>
    </div>
</nav>
<div class="container pt-5">
    <div class="card">
        <h3 class="card-header bg-info text-light">Confirma tu correo electrónico</h3>
        <div class="card-body">
            <p class="text-center fs-3">
                ¡Bienvenido al equipo {{ correo }}!
            </p>
            <p class="text-center fs-3">
                Te hemos enviado un correo electrónico para confirmar tu cuenta.
            </p>
        </div>
    </div>
</div>