<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand fs-1" routerLink="/home" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/2048px-Soccerball.svg.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            <h2 class="float-right mt-2 pl-2">SOCCER STATS</h2>
        </a>
    </div>
</nav>
<div class="container pt-5">
    <div class="card">
        <h3 class="card-header bg-warning text-light">ERROR 404</h3>
        <div class="card-body">
            <p class="text-center fs-3">
                Parece que la página que buscas no está disponible.
            </p>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>