<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-1" routerLink="/admin" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Soccerball.svg/2048px-Soccerball.svg.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            <h2 class="float-right mt-2 pl-2">SOCCER STATS</h2>
        </a>
        <h3 class="text-light mt-1">Admin</h3>
        <button class="btn btn-lg btn-outline-light" routerLink="/signin">Registrarse</button>
    </div>
</nav>
<div class="row mt-3 mx-3 mb-4">
    
</div>
